body {
  background-color: powderblue;
  font-family: sans-serif;
  font-size: 12pt;
}


.ocean-coder-banner {
  height: 300px;
  /* width: 30em; */
  padding: 10px 10px 10px 20px;   /* top right bottom left  */
  /* border: 0px solid red; */
  /* margin: 0px; */
  /* background-color: #0086AB; */ /* #0086AB */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/phiphi-islands.jpg");
  /* height: 50%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner-h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 80px;
  color: white;
  /* border: 1px solid; */
  height: 70px;
  margin: 150px 0px 0px 0px;
}
.banner-h3 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 35px;
  font-style: italic;

  color: white;
  /* border: 1px solid; */
  height: 48px;
  margin: 16px 0px 0px 0px;

}

h1 {
  color: blue;
}

footer p {
  color: white;
  text-align: center;
}
footer details {
  text-align: center;
}
.fa-beer {
  color: #f28e1c;

}


.important {
  font-weight: bold;
}

p.important{           /* only paragraph element with class named important */
  width: 50%;     /*  this has no effect  */
}

.italicized{
  font-style: italic;
  color: darkolivegreen;
}

.purple-text {
  color: purple;
  font-weight: bolder;
}

.important:hover {
  background-color: #00FF00;
  width: 5%;
}

#lead-paragraph {
  color: blue;
  font-weight: bold;
}

a[href="assignment-1.html"] {
  background-color: yellow;
  padding: .25rem;
}

a[href="#"] {
  background-color: silver;
  padding: .25rem;
}

a[href="about-me.html"] {
  background-color: papayawhip;
  padding: .25rem;
}

/* h1 {
  color: red;
  border-style:solid ;
  border-width: 1px;
  border-color: gray;
} */

img {
  width: 25%;  /* not advisable to set both width and height - width is usually preferred, then height will proportionally adjusted    */
}


.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;

}


.oc-box-footer {
  height: 300px;
  background-color: #006994;
  font-family: sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 16px;
  color: white;
}

.footer-nav  {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bolder;

}

.footer-nav a {
  color: black;
}
